/*White  */
body{
  background-color: white;
  text-align: center;
  color: black;
  font-family: sans-serif;
  margin: 10% 0px 0px; 0px;
}

img {
  max-height: 50%;
  max-width: 50%;
}

h1{
  font-size: 80px;
}

#timer{
  visibility: hidden;
}
